body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #ddd;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

#mainHeader {
  padding: 1.5em 2em;
  margin: 0;
  background-color: darkolivegreen;
  color: white;
  font-size: 20px;
  text-align: center;
}

#navBar {
  background-color: #333;
  color: white;
}

.table {
	display: table;
	margin: 0 auto;
}

#navBar ul {
  list-style: none;
  padding: 0.3em 0;
}

#navBar li {
  display: inline;
  padding: 0 1em;
}

.component {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 2em;
  /*
  border: red solid 1px;
  */
}

.component h2 {
  margin: 0;
  padding: 1em;
}

.component p {
  padding: 0em 3em;
}

.flexLayout {
  display: flex;
  margin: 0, auto;
  padding: 0 3em;
  justify-content: space-between;
}

.flexLayout p, img {
  padding: 0;
  flex-basis: 30%;
  /*
  border: solid black 1px;
  */
}
